.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #8cd6c6;
    box-shadow: 0 0 0  #59b39f;
    padding: 16px;
    text-align: center;
}

/* @media (min-width: 500px) {
    .Person {
        width: 450px;
    }
} */